.gradient {
  background: linear-gradient(90deg, #2E9B00 30%, #8DFC00 70%);
}
 
/*********** Banners **********/
.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/********** Accordion *********/
.accordion {
    background-color: #FFFFFF;
}

.accordion .tab-content {
	max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.accordion .tab input:checked ~ .tab-content {
    max-height: 100%;
}

/*********** Switch ***********/
.themeSwitcherTwo input:checked ~ .light {
    background: transparent;
    color: #FFFFFF;
}

.themeSwitcherTwo input:checked ~ .dark {
    color: #2E9B00;
    background: #8DFC00;
    font-weight: 600;
}
